@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

// Set your brand colors
$purple: #8A4D76;
$pink: #FA7C91;
$brown: #757763;
$beige-light: #D0D1CD;
$beige-lighter: #EFF0EB;

// Update Bulma's global variables
$family-sans-serif: "Nunito", sans-serif;
$grey-dark: $brown;
$grey-light: $beige-light;
$primary: $purple;
$link: $pink;
$widescreen-enabled: false;
$fullhd-enabled: false;

// Update some of Bulma's component variables
$body-background-color: $beige-lighter;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;
$navbar-height: 3.25rem;

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: rgb(61, 146, 201);
}
a:hover,
a:focus {
    text-decoration: underline;
}

h3 {
    font-weight: 100;
}

/* LAYOUT CSS */
.top-header {
	height: 250px;
	position: relative;
	border: 1px solid red;
	background: blue;
	display: block;
}
.pure-img-responsive {
    max-width: 100%;
    height: auto;
}

#layout {
    padding: 0;
}

.header {
    text-align: center;
    top: auto;
    margin: 3em auto;
}

.sidebar {
    background: rgb(61, 79, 93);
    color: #fff;
}

.brand-title,
.brand-tagline {
    margin: 0;	
    a {
    	text-decoration: none;
    	color: #fff;
    }
}
.brand-title {
    text-transform: uppercase;
}
.brand-tagline {
    font-weight: 300;
    color: rgb(176, 202, 219);
}

.nav-list {
    margin: 0;
    padding: 0;
    list-style: none;
}
.nav-item {
    display: inline-block;
    *display: inline;
    zoom: 1;
}
.nav-item a {
    background: transparent;
    margin: 8px;
    color: #fff;
    margin-top: 1em;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    font-size: 85%;
}

.mugshot {
	border-radius: 50px;
	margin: 20px;
}
.nav-item a:hover,
.nav-item a:focus {
    text-decoration: none;
}

.content-subhead {
    text-transform: uppercase;
    color: #aaa;
    border-bottom: 1px solid #eee;
    padding: 0.4em 0;
    font-size: 80%;
    font-weight: 500;
    letter-spacing: 0.1em;
}

.content {
    padding: 2em 1em 0;
}

.post {
    padding-bottom: 2em;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    margin-top: 50px;
    color: #111;

}
.post-title {
    font-size: 2em;
    color: #222;
    margin-bottom: 0.2em;
}
.post-avatar {
    border-radius: 50px;
    float: right;
    margin-left: 1em;
}
.post-description {
    line-height: 1.8em;
}
.post-meta {
    color: #999;
    font-size: 90%;
    margin: 0;
}

.post-category {
    margin: 0 0.1em;
    padding: 0.3em 1em;
    color: #fff;
    background: #999;
    font-size: 80%;
}
    .post-category-design {
        background: #5aba59;
    }
    .post-category-pure {
        background: #4d85d1;
    }
    .post-category-yui {
        background: #8156a7;
    }
    .post-category-js {
        background: #df2d4f;
    }

.post-images {
    margin: 1em 0;
}
.post-image-meta {
    margin-top: -3.5em;
    margin-left: 1em;
    color: #fff;
    text-shadow: 0 1px 1px #333;
}

.footer {
    padding: 1em 0;
}
.footer a {
    color: #ccc;
    font-size: 80%;
}
.footer .pure-menu a:hover,
.footer .pure-menu a:focus {
    background: none;
}

@media (min-width: 48em) {
    .content {
        padding: 2em 3em 0;
        margin-left: 25%;
    }

    .header {
    }

    .sidebar {
        position: fixed;
        top: 0;
        bottom: 0;
    }

    .footer {
        text-align: center;
    }
}

.Portfolio {
    .PortfolioList {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        text-decoration: none;
    }
    .PortfolioList__item {
        flex: 0 1 480px;
        margin: 15px 0px 15px 0px;
        cursor: pointer;
        border: 1px solid #aaa;
        border-radius: 5px;
        padding: 15px;
        text-align: center;

        &:hover {
            box-shadow: 1px 1px 1px 1px #ddd, -1px -1px 1px 1px #ddd;
            text-decoration: none;
        }

        .post-header {
            text-align: center;
            margin-bottom: 30px;
        }

        .post-description {
            margin-top: 20px;
        }
    
        img {
            max-width: 100%;
        }

        p {
            word-break: break-all;
        }
    }

    
}

.tags {
    color: #999;
    line-height: 25px;
    .dot {
        font-size: 22px;
        vertical-align: super;
    }
}

.PortfolioItem {
    .project-link {
        display: inline-block;
        float: right;
        margin-top: 20px;
        a {
            vertical-align: -webkit-baseline-middle;
        }
        i {
            vertical-align: top;
        }
    }

    .main-image {
        max-width: 100%;
    }
    h1 {
        display: inline-block;
        margin-right: 20px;
    }

    .tags {
        display: inline-block;
        vertical-align: super;
    }
    video {
        max-width: 100%;
    }
    img {
        margin: 0 auto;
    }
}

.fr-img-wrap, .fr-video {
    img {
        width: 100%;
    }
    .fr-inner {
        color: #999;
        font-style: italic;
    }
}

pre {
    background-color: #555;
    padding: 15px;
    color: #fff;
}

